body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.container {
    border: 1px solid #222;
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
}

.cell {
    box-sizing: border-box;
    border: 1px solid #eee;
    background-color: white;
}
